.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    padding: 1rem 0;
    /* siuo metu prideta ir sitai */
    flex-direction: column;
    text-align: center;
}

.footer > div {
    max-width: 45%;
}

.rightAlign {
    /* text-align: right; */
    text-align: center;
}

/* @media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer > div {
        max-width: 100%;
    }
    .rightAlign {
        text-align: center;
    }
} */
