@font-face {
  font-family: "ReadexPro";
  src: url("/fonts/ReadexPro.ttf") format("truetype");
}

:root {
  --background: #d9d9d9;
  --text: #090909;
}

[data-theme="dark"] {
  --background: #090909;
  --text: #d9d9d9;
}

[data-theme="light"] {
  --background: #d9d9d9;
  --text: #090909;
}

[data-theme="green"] {
  --background: #78ab70;
  --text: #090909;
}

[data-theme="pink"] {
  --background: #ffd8e4;
  --text: #31101d;
}

[data-theme="orange"] {
  --background: #f8ceaf;
  --text: #090909;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ReadexPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--text);
  transition: 150ms all;
}

body {
  /* max-width: 40rem; */
  padding: 0 1rem;
  margin: 3rem auto 3rem;
}

h1 {
  font-size: 6rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 3rem;
  margin: 0.75rem 0;
}

h3 {
  font-size: 2rem;
}

br {
  margin-bottom: 3.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  br {
    margin-bottom: 2rem;
  }
}

a {
  color: inherit;
  text-decoration: underline solid currentColor 1px;
}

a:hover {
  text-decoration: underline wavy currentColor 1px;
}

/* a::after {
  content: " ↗";
} */

button {
  cursor: pointer;
  padding: 0.5rem;
  border: var(--text) solid 1px;
  border-radius: 0.5rem;
  background: var(--background);
  color: var(--text);
  font-weight: bold;
  font-size: 1rem;
}

button:hover,
button:active {
  background: var(--text);
  color: var(--background);
}

pre {
  width: calc(98% - 2px) !important;
  padding: 1% !important;

  border: 1px solid var(--text);
  border-radius: 3px;
}

img {
  max-width: 100%;
  border-radius: 3px;
}

#nprogress .bar {
  background: var(--text) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--text), 0 0 5px var(--text) !important;
}
