@font-face {
  font-family: "ReadexPro";
  src: url("/fonts/ReadexPro.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ReadexPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

body {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

a {
  color: inherit;
  text-decoration: underline solid black 1px;
}

a:hover {
  text-decoration: underline wavy black 1px;
}

img {
  max-width: 100%;
}
