.navbar {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin: 1rem;
    /* font-size: 1rem; */
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.badge {
    background-color: var(--text);
    color: var(--background);
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    border: black solid 2px;
    margin: 0 0 0 8px;
}

.badge > a {
    text-decoration: none;
}
